<!DOCTYPE html>
<html lang="en">
<title>Interstellar</title>
<header>
    <h1 style="color:antiquewhite">Interstellar</h1>
</header>

<head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body class="ebody">
    <button id="goback" onclick="goBack()">Go Back</button>
    <div class="matrix">
        <img id="extra" src="{{ url_for('static', filename='interstellarc.jpg') }}">
        <iframe src="https://www.youtube.com/embed/zSWdZVtXT7E?si=naq1E688uV62yZKF" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen width="1220" height="585"></iframe>
        
    </div>
    <div>
        <p class="stream">You can stream it on:</p>
        <a href="https://www.netflix.com/de-en/"><img id="netflix" src="{{ url_for('static', filename='netflix.jpg') }}"></a>
        <a href="https://app.primevideo.com/home"><img id="prime" src="{{ url_for('static', filename='prime.jpg') }}"></a>
        <p class="rating">Rating:<br>8,7/10 from IMDb</p>
        <figure class="item">
            <img class="morph" src="{{ url_for('static', filename='matthew.jpg')}}">
            <figcaption class="caption" style="color:antiquewhite;">Matthew McConaughey(Cooper)</figcaption>
        </figure>
        <figure class="item">
            <img class="morph" src="{{ url_for('static', filename='matt.jpg')}}">
            <figcaption class="caption" style="color:antiquewhite;">Matt Damon(Dr. Mann)</figcaption>
        </figure>
        <figure class="item">
            <img class="morph" src="{{ url_for('static', filename='anne.jpg')}}">
            <figcaption class="caption" style="color:antiquewhite;">Anne Hathaway(Dr. Amelia Brand)</figcaption>
        </figure>
        <figure class="item">
            <img class="morph" src="{{ url_for('static', filename='timo.png')}}">
            <figcaption class="caption" style="color:antiquewhite;">Timothée Chalamet(Tom)</figcaption>
        </figure>
    </div>
    <script>
    function goBack() {
        window.history.back();
    }
    </script>

</body>
</html>