<!DOCTYPE html>
<html lang="en">
<title>Matrix</title>
<header>
    <h1 style="color:antiquewhite">Matrix</h1>
</header>

<head>
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>

<body style="background-color:black;">
    <button id="goback" onclick="window.location.href='/goback'">Go Back</button>
    <div class="matrix">
        <img id="extra" src="{{ url_for('static', filename='matrixcv.jpg') }}">
        <iframe src="https://www.youtube.com/embed/vKQi3bBA1y8?si=vYhNXzkenpcTrR6g" title="YouTube video player" 
        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" 
        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen width="1220" height="585"></iframe>
        
    </div>
    <div>
        <a href="https://www.netflix.com/de-en/"><img id="netflix" src="{{ url_for('static', filename='netflix.jpg') }}"></a>
    </div>
</body>

</html>