/*both*/
body {
    background-color:#FFE8A3;
    /*background-image: url('background4.jpg');*/

}
:root::-webkit-scrollbar{
    display: none;
}
  
:root {
    scrollbar-width: none;
    -ms-overflow-style: none;
}
  
body {
    font: 1em/1.5 'Flow Block', sans-serif;
    color: hsl(0 10% 30%);
}
  
img.beweg {
    width: 100%; 
    padding: 2%; 
    max-width: 100%;
    height:100%;
    border-radius: 25px;
    padding: 20px;
    transition: width 2s, height 2s, transform 3s;
    transition-delay: 0.3s;
    transition: transform 250ms;
    object-fit: cover;
}
img.beweg:hover{
    transform: translateY(-16px);
}
h1{
    font-size:90px;
    font-family:monospace;
    color:black;
    text-align: center;
}
h2{
    font-size:70px;
    color:black;
    text-align: center;
}
h4 {
    font-size:30px;
    color:black;
    text-align: center;
}
p {
    text-align:right;
    font-size:25px;
}
dt {
    font-size:26px;
}
#naav{
    font-size:30px;

}

.scrolled.fade-in {
    animation: fade-in 1s ease-in-out both;
}
@keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

/*
#but1{
    color: antiquewhite;
    background-image: url('background2.jpg');
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 36px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute;
    top:60px;
    right:150px;
    border-style: solid;
}*/

/*Aufbau*/


/*classes*/
.welcome{
    font-size:50px;
    color:black;
    text-align: center;
}
.col{
    color:black;
    font-size: 10px;
    opacity:0.6;
}
.colo{
    color:black;
}
.colore{
    color:black;
}
.colore2{
    color:black;
}
.beschriftung {
    text-align:left;
}
.image-container {
    text-align: center; 
    margin-top: 20px; 
}
.sherlock {
    width:800px;
    height:570px;
}
.when{
    width:960px;
    height:470px;
}
.container img {
    width: 100%; 
    padding: 2%; 
    max-width: 100%;
    height:100%;
}


/*IDs*/
#info {
    color:black;
    text-align: center;
    font-size: 30px;
}

#titel{
    font-size:50px;
}
/*
#div1{
    float:left;
}
#div2{
    float:right;
    top:0
}
*/


/*Aufbau 2*/


/*classes*/
.bodyy{
    background-color: black;
}
.tiitel{
    font-size:50px;
    color:antiquewhite;
    text-align: center;

}
.tiiteel{
    font-size:26px;
    color:antiquewhite;
    text-align: center;
}
.titelb{
    font-size:70px;
    font-family:monospace;
    color:antiquewhite;
    text-align: center;
}
.infoo {
    color:antiquewhite;
    text-align: center;
    font-size: 30px;
}
.carousel-inner{
    width:2000px; 
    max-width: 100%;
}


/*IDs*/
#carou{
    color:antiquewhite;
}
#colout{
    color:antiquewhite;
    text-align:center;
    font-size:30px;
}



/*Sidebar*/
body {
    overflow-x: hidden;
    max-width: 100%;
}

#sidebar {
    height: 100vh;
    font-size:30px;
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 1000;
    padding-top: 3.5rem;
    overflow-y: auto;
    background-color: black;
    color: #FFE8A3;
    transition: left 0.3s;
}

#sidebar a {
    padding: 15px 20px;
    display: block;
    color: #FFE8A3;
    text-decoration: none;
}

#sidebar a:hover {
    background-color: #495057;
}

#sidebar .sidebar-heading {
    padding: 1.5rem 1rem;
    font-size: 1.2rem;
}

.navbar-brand,
#menu-toggle {
    position:absolute;
    top:17px;
    background-color: black;
    font-size:40px;
    text-decoration: none;
    color: #FFE8A3;
}

.content {
    margin-left: 0;
    padding: 15px;
    transition: margin-left 0.3s;
}
/*Sidebar2*/
#sidebar2 {
    height: 100vh;
    font-size:30px;
    position: fixed;
    top: 0;
    left: -250px;
    z-index: 1000;
    padding-top: 3.5rem;
    overflow-y: auto;
    background-color: antiquewhite;
    color: black;
    transition: left 0.3s;
}
#sidebar2 a {
    padding: 15px 20px;
    display: block;
    color: black;
    text-decoration: none;
}

#sidebar2 a:hover {
    background-color: #495057;
}

#sidebar2 .sidebar-heading {
    padding: 1.5rem 1rem;
    font-size: 1.2rem;
}

.navbar-brand,
#menu-toggle2 {
    position:absolute;
    top:25px;
    background-color: antiquewhite;
    font-size:40px;
    text-decoration: none;
    color: black
}

/*extra*/
#extra{
    width: 400px;
    height:589px;
    padding: 2%; 
    max-width: 100%;
    border-radius: 25px;
    padding: 20px;
}
iframe{
    max-width:100%;
    position:absolute;
    top:280px;
}
#netflix{
    width:100px;
    height:100px;
    padding: 20px;
    position:absolute;
    left:250px;
    top:890px;
}
#rtl{
    width:170px;
    height:110px;
    padding: 20px;
    position:absolute;
    left:250px;
    top:890px;
}

.stream{
    float:left;
    color: antiquewhite;
}
.ebody{
    background-color: black;
}
.rating{
    color:antiquewhite;
}
#prime{
    width:100px;
    height:100px;
    padding: 20px;
    position:absolute;
    left:400px;
    top:890px;
}
.cast{
    text-align:center;
}
figure{
    text-align: center;
    display:inline-block;
    margin-right: 20px;
}
figcaption{
    text-align: center;
}
.morph{
    width:128px;
    height:160px;
}
#actors{
    color:antiquewhite;
    text-align: left;
}
.cant{
    float:left;
    color: antiquewhite;
}

/*extra pages*/
.container2 img {
    width: 100%; 
    padding: 2%; 
    max-width: 100%;
    height:100%;
}
#div3{
    float:left;
}
#div4{
    float:right;
}
.colore3{
    color:antiquewhite;
}
dt{
    text-align: center;
}
.gohome{
    position:absolute;
    color: antiquewhite;
    background-color:black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 36px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute;
    top:0px;
    left:0px;
    border-style: solid;
    border-color:white;
}
.goback{
    position:absolute;
    color: antiquewhite;
    background-color:black;
    border-color:white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 36px;
    margin: 4px 2px;
    cursor: pointer;
    position:absolute;
    top:0px;
    right:0px;
    border-style: solid;
    border-color:white;
}
