<!DOCTYPE html>
<html lang="en">
<header>
    <h1 class="titelb">Movies/TV Shows</h1>
</header>

<head>
    <title>Movies/TV Shows</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>


    <div class="content">
        <button id="menu-toggle2" class="btn">
            <i class="bi bi-list"></i>
        </button>
    </div>
</head>

<body class="bodyy">
    <h2 class="tiitel"><i>Welcome to my Website</i></h2>
    <h4 class="tiiteel"><i>This website is a personal recommendation for Series/Movies</i></h4>
    <p class="infoo"><strong><i>Info:<br></i></strong>You can click on the Pictures/Gifs<br> to see, where
        you can stream it</p>
    <div id="sidebar2">
        <a href="#" onclick="showContent('myCarousel')"><i class="bi bi-camera-reels"></i> Movies</a>
        <a href="#" onclick="showContent('myCarousel2')"><i class="bi bi-tv"></i> TV Shows</a>
        <a href="#" onClick="history.go(0);"><i class="bi bi-arrow-repeat"></i> Both</a>
        <a href="#" onclick="window.location.href='/goback'"><i class="bi bi-arrow-bar-left"></i> Go Back</a>
    </div>
    <!--<button id="but7" onClick="history.go(0);">Both</button>-->
    <!--<button onclick="window.location.href='/goback'" id="but4">Go Back</button>-->
    <div class="container" id="car">

        <!--Movies-->

        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <h2 style="color:antiquewhite" id="titel">Movies</h2>
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
                <li data-target="#myCarousel" data-slide-to="3"></li>
                <li data-target="#myCarousel" data-slide-to="4"></li>
                <li data-target="#myCarousel" data-slide-to="5"></li>
                <li data-target="#myCarousel" data-slide-to="6"></li>
                <li data-target="#myCarousel" data-slide-to="7"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <h3 id="colout"><i>Matrix</i></h3>
                    <a href="/matrix" class="beweg"><img src="{{ url_for('static', filename='matrix.webp') }}"
                            title="Matrix"></a>
                    <p id="carou" class="beschriftung"><i><strong>Popular actors:</strong> <br> Keanu Reeves(Neo),
                            <br>Laurence
                            Fishburne(Morpheus),<br> Carrie-Anne Moss(Trinity) </i></p>
                    <p id="carou"><strong>Other Assessments:<br></strong>8,7/10 from IMDb</p>
                </div>

                <div class="item">
                    <h3 id="colout"><i>Interstellar</i></h3>
                    <a href="/interstellar" class="beweg"><img
                            src="{{ url_for('static', filename='interstellar3.gif') }}" title="Interstellar"></a>
                    <p id="carou" class="beschriftung"><i><strong>Popular actors:</strong> <br> Matthew
                            McConaughey(Cooper),<br> Matt Damon(Dr. Mann),<br>Anne Hathaway(Dr. Amelia
                            Brand),<br>Timothée Chalamet(Tom) </i></p>
                    <p id="carou"><strong>Other Assessments:</strong><br>8,7/10 from IMDb</p>
                </div>

                <div class="item">
                    <h3 id="colout"><i>Harry Potter</i></h3>
                    <a href="/harry" class="beweg">
                        <img src="{{ url_for('static', filename='harrypotter2.gif') }}" title="Harry Potter"></a>
                    <p id="carou" class="beschriftung"><i><strong>Popular actors:</strong> <br> Daniel Radcliff(Harry
                            Potter),<br> Emma Watson(Hermoine Granger),<br>Rupert Grint(Ronald Weasley),<br>Richard
                            Harris(Albus Dumbledore) </i></p>
                    <p id="carou"><strong>Other Assessments:<br></strong>8,1/10 from IMDb</p>
                </div>

                <div class="item">
                    <h3 id="colout"><i>The Dark Knight</i></h3>
                    <a href="/dark" class="beweg"><img src="{{ url_for('static', filename='batman.jpg') }}"
                            title="The Dark Knight"></a>
                    <p id="carou" class="beschriftung"><i><strong>Popular actors:</strong> <br> Christian
                            Bale(Batman),<br>
                            Heath Ledger(Joker)<br>
                            Morgan Freeman(Lucius Fox),<br>
                            Cillian Murphy(Scarecrow)</i></p>
                    <p id="carou"><strong>Other Assessments:</strong><br>9/10 from IMDb</p>
                </div>

                <div class="item">
                    <h3 id="colout"><i>Dune</i></h3>
                    <a href="/dune" class="beweg">
                        <img src="{{ url_for('static', filename='duneee.gif') }}" title="Dune"></a>
                    <p id="carou" class="beschriftung"><i><strong>Popular actors:</strong> <br> Timothée Chalamet(Paul
                            Atreides),<br>Zendaya(Chani),<br>Oscar Isaac(Duko Leto Atreides),<br>Jason Momoa(Duncan
                            Idaho),<br>Dave Bautista(Glossu Rabban Harkonnen)</i></p>
                    <p id="carou"><strong>Other Assessments:</strong><br>8,8/10 from IMDb</p>
                </div>

                <div class="item">
                    <h3 id="colout"><i>Spider-Man: Across the Spider-Verse</i></h3>
                    <a href="/miles" class="beweg">
                        <img src="{{ url_for('static', filename='spider.gifv') }}" title="Spider-Man: Across the Spider-Verse"></a>
                    <p id="carou" class="beschriftung"><i><strong>Popular voices:</strong> <br> Shameik Moore(Miles
                            Morales),<br>Hailee Steinfeld(Gwen Stacy),
                            <br>Oscar Isaac(Miguel O'Hara),<br>Daniel Kaluuya(Hobie Brown),<br>Mahershala Ali(Uncle
                            Aaron),<br>Luna Lauren Valez(Rio Morales)</i></p>
                    <p id="carou"><strong>Other Assessments:</strong><br>8,6/10 from IMDb</p>
                </div>
                <div class="item">
                    <h3 id="colout"><i>Avengers: Infinity War/Endgame</i></h3>
                    <a href="/avengers" class="beweg">
                        <img src="{{ url_for('static', filename='mjolnir.gif') }}" title="Avengers: Infinity War/Endgame"></a>
                    <p id="carou" class="beschriftung"><i><strong>Popular actors:</strong> <br> Robert Downey Jr.(Tony
                            Stark),<br>Chris Hemsworth(Thor),
                            <br>Mark Ruffalo(Bruce Banner),<br>Chris Evans(Steve Rogers),<br>Scarlett Johansson(Natasha
                            Romanoff),<br>Benedict Cumberbatch(Doctor Strange),<br>Tom Holland(Peter Parker)
                            ,<br>Chadwick Boseman(T'Challa),<br>Elizabeth Olsen(Wanda Maximoff),<br>Tom Hiddleston(Loki)</i></p>
                    <p id="carou"><strong>Other Assessments:</strong><br>8,4/10 from IMDb</p>
                </div>
                <div class="item">
                    <h3 id="colout"><i>Spider-Man: No Way Home</i></h3>
                    <a href="/noway" class="beweg">
                        <img src="{{ url_for('static', filename='spider2.gif') }}" title="Spider-Man: No Way Home"></a>
                    <p id="carou" class="beschriftung"><i><strong>Popular actors:</strong> <br> Tom Holland(Peter Parker)
                            ,<br>Zendaya(MJ),
                            ,<br>Benedict Cumberbatch(Doctor Strange),<br>Jacob Batalon(Ned Leeds)
                            ,<br>Jamie Foxx(Max Dillon),<br>Willem Dafoe(Norman Osborn)
                            ,<br>Alfred Molina(Dr. Otto Octavius)
                            ,<br>Andrew Garfield(Peter Parker)
                            ,<br>Tobey Maguire(Peter Parker)</i></p>
                    <p id="carou"><strong>Other Assessments:</strong><br>8,2/10 from IMDb</p>
                </div>
            </div>

            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>

        <!--Series-->
        <div id="myCarousel2" class="carousel slide" data-ride="carousel">
            <h1 style="color:antiquewhite" id="titel">TV Shows</h1>
            <ol class="carousel-indicators">
                <li data-target="#myCarousel2" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel2" data-slide-to="1"></li>
                <li data-target="#myCarousel2" data-slide-to="2"></li>
                <li data-target="#myCarousel2" data-slide-to="3"></li>
                <li data-target="#myCarousel2" data-slide-to="4"></li>
                <li data-target="#myCarousel2" data-slide-to="5"></li>
                <li data-target="#myCarousel2" data-slide-to="6"></li>
            </ol>

            <div class="carousel-inner">
                <div class="item active">
                    <h3 id="colout"><i>Peaky Blinders</i></h3>
                    <a href="/peaky" class="beweg"><img src="{{ url_for('static', filename='peak.gif') }}"
                            title="Peaky Blinders"></a>
                    <p id="carou" class="beschriftung"><i><strong>Popular actors:</strong> <br>Cilian Murphy(Tommy
                            Shelby),<br>
                            Helen Mcrory(Polly Grey) </i></p>
                    <p id="carou"><strong>Other Assessments:<br></strong>8,8/10 from IMDb</p>
                </div>

                <div class="item">
                    <h3 id="colout"><i>When They See Us</i></h3>
                    <a href="/When" class="beweg"><img src="{{ url_for('static', filename='when2.gif') }}"
                            title="When They See Us" class="when"></a>
                    <p id="carou" class="beschriftung"><i><strong>Popular actors:</strong> <br> Asante Blackk(Kevin
                            Richardson),<br>Caleel Harris(Antron McCray),<br>Ethan Herisse(Yusef Salaam),<br>Marquis
                            Rodriguez(Raymond Santana Jr),<br>Jharrel Jerome(Korey Wise)</i></p>
                    <p id="carou"><strong>Other Assessments:</strong><br>8,8/10 from IMDb</p>
                </div>

                <div class="item">
                    <h3 id="colout"><i>Attack on Titan</i></h3>
                    <a href="/Attack" class="beweg"><img src="{{ url_for('static', filename='aot2.gif') }}"
                            title="Attack on Titan" class="when"></a>
                    <p id="carou"><strong>Other Assessments:<br></strong>9,1/10 from IMDb</p>
                </div>

                <div class="item">
                    <h3 id="colout"><i>Sherlock</i></h3>
                    <a href="/sherlock" class="beweg"><img src="{{ url_for('static', filename='sherlock2.jpg') }}"
                            class="Sherlock" title="Sherlock"></a>
                    <p id="carou" class="beschriftung"><i><strong>Popular actors:</strong> <br> Benedict
                            Cumberbatch(Sherlock
                            Holmes),<br> Martin Freeman(Dr. John Watson)</i></p>
                    <p id="carou"><strong>Other Assessments:</strong><br>9,1/10 from IMDb</p>
                </div>

                <div class="item">
                    <h3 id="colout"><i>Death Note</i></h3>
                    <a href="/Note" class="beweg"><img src="{{ url_for('static', filename='deathnote.jpg') }}"
                            title="Death Note"></a>
                    <p id="carou"><strong>Other Assessments:</strong><br>8,9/10 from IMDb</p>
                </div>
                 <div class="item">
                    <h3 id="colout"><i>Dragon Ball Z/Super</i></h3>
                    <a href="/dragon" class="beweg"><img src="{{ url_for('static', filename='dragonball2.gif') }}"
                            title="Dragon Ball Z/Super"></a>
                    <p id="carou"><strong>Other Assessments:</strong><br>8,8/10 from IMDb</p>
                </div>
                <div class="item">
                    <h3 id="colout"><i>Deadly Class</i></h3>
                    <a href="/deadly" class="beweg"><img src="{{ url_for('static', filename='deadly.gif') }}"
                            class="Sherlock" title="Deadly Class"></a>
                    
                </div>
            </div>

            <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel2" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>

    <!--functions-->
    <script>
        function openPopup(url) {
            var width = 800;
            var height = 500;
            var left = (window.innerWidth - width) / 2;
            var top = (window.innerHeight - height) / 2;
            var options = "width=" + width + ",height=" + height + ",top=" + top + ",left=" + left;
            var popupWindow = window.open(url, "_blank", options);
            popupWindow.focus();
        }
    </script>
    <script>
        function showContent(myCarousel) {
            var contents = document.getElementsByClassName('carousel slide');
            for (var i = 0; i < contents.length; i++) {
                contents[i].style.display = 'none';
            }
            document.getElementById(myCarousel).style.display = 'block';
        }
    </script>
    <script>
        function showContent(myCarousel2) {
            var contents = document.getElementsByClassName('carousel slide');
            for (var i = 0; i < contents.length; i++) {
                contents[i].style.display = 'none';
            }
            document.getElementById(myCarousel2).style.display = 'block';
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        document.getElementById('menu-toggle2').addEventListener('click', function () {
            const sidebar = document.getElementById('sidebar2');
            const content = document.querySelector('.content');
            const menuToggle = document.getElementById('menu-toggle2');

            if (sidebar.style.left === '-250px') {
                sidebar.style.left = '0';
                content.style.marginLeft = '250px';

                // Change to ❌ when sidebar is open
                menuToggle.innerHTML = '<i class="bi bi-x"></i>';
            } else {
                sidebar.style.left = '-250px';
                content.style.marginLeft = '0';

                // Change back to ☰ when sidebar is closed
                menuToggle.innerHTML = '<i class="bi bi-list"></i>';
            }
        });
    </script>
</body>

</html>